

.infos-conferencier {

    .wrapper {
        display: flex;
        justify-content: center;
        gap: 95px;
        padding: 86px 0;
        position: relative;
        top: -90px;

        @media screen and (max-width: $breakpoint-sm) {
            flex-direction: column;
            gap: 0;
          }
    }
}

.contenu-conferencier{
    background-color: var(--color-bg-primary);
    width: 540px;
    padding: 45px 30px;
    position: relative;
    top: -90px;
    
    @media screen and (max-width: 850px) {

        top: 0;
      }
    
}

.card-conference {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 28px;
    .icon {
        font-size: 64px;
    }
    a{
        transition: all 0.3s ease-out;

        &:hover{
            color: var(--color-bg-secondary);
        }
    }
}

.sociaux-et-photos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    grid-column-start: 3;
    padding: 50px 0;

    @media screen and (max-width: $breakpoint-md) {
        padding: 0;
        text-align: start;
        align-items: center;
      }

    .sociaux-conferencier {
        display: flex;
        justify-content: center;
        gap: 16px;
        width: 100%;

        @media screen and (max-width: $breakpoint-md) {
            justify-content: start;
          }
    }

    .photos-conferencier {
        margin-top: 52px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        gap: 20px;
        max-width: 540px;


        img {
            height: 335px;
            width: 100%;
            object-fit: cover;
        }

        .column1{
            grid-column-start: 1;
            grid-column-end: 3;
        }
        .column2{
            grid-column-start: 3;
            grid-column-end: 5;
        }

        .column3{
            grid-column-start: 1;
            grid-column-end: 2;
        }
        .column4{
            grid-column-start: 2;
            grid-column-end: 5;
        }

        @media screen and (max-width: $breakpoint-md) {

        .column3{
            grid-column-start: 1;
            grid-column-end: 3;
        }

        .column4{
            grid-column-start: 3;
            grid-column-end: 5;
        }
      }

    }
}
