
    .cards-conferenciers {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;
        justify-items: center;

        @media screen and (max-width: $breakpoint-lg) {
            grid-template-columns: 1fr 1fr;
          }

        @media screen and (max-width: $breakpoint-sm) {
          grid-template-columns: 1fr;
          align-self: center;
        }
    }

    .card-conferencier {
        position: relative;
        margin-bottom: 30px;
        
    }
    .media-conferencier {
        height: #{typo(315px, 350px)};
        width: #{typo(315px, 350px)};

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    .hover-conferencier {
        text-align: center;
        background-color: rgba($color: #000000, $alpha: 0.7);
        position: absolute;
        top: 0;
        left: 0;
        height: 350px;
        width: 350px;
        padding: 30px;
        opacity: 0;
        text-decoration: none;

        &:hover {
            opacity: 1;
        }

        .card-conferencier-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: absolute;
            width: 160px;
            left: calc(50% - 80px);
            bottom: 30px;
        }

        .icon {
            height: 27px;
            width: 27px;
        }
    }

    .autres-conferenciers{

        img{
            height: 100%;
            width: 100%;
        }

        .card-conferencier{
            position: relative;
        }
        
        .hover-conferencier{
            opacity: 1;
            padding: 20px;

            background-color: var(--color-bg-primary);
            height: 100px;
            width: 390px;
            bottom: 0;
            right: 0;
            
            .card-conferencier-content {
                position: absolute;
                width: 350px;
                left: 20px;
                top: 20px;
            }
        }



    }

