footer {
    padding: 40px 0 25px 0;
    text-align: center;
    background-color: var(--color-bg-secondary);

    ul {
        display: flex;
        list-style: none;
        justify-content: center;
        gap: 32px;
    }

    .timconf {
        .icon {
            font-size: 128px;
            height: 40px;
            margin-bottom: 30px;
        }
    }

    .timconf:hover {
        color: var(--color-bg-primary);
    }

    hr {
        height: 1px;
        width: 100%;
        background-color: var(--color-white);
    }

    .credits {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    @media screen and (max-width: 600px) {
        padding: 60px 0;
        ul{
            flex-direction: column;
            justify-content: center;
            padding: 0;
            margin: 30px 0;
        }

        .credits{
            
            flex-direction: column;
            margin: 30px 0;
        }
        .sociaux {
            flex-direction: row;
            margin: 30px 0;
        }
    }
}
