.forfaits{
    text-align: center;
    padding: 64px 0;
    
.cards-forfaits{
    margin-top: 48px;
}
    .card-forfait{
        h3{
            margin: 8px 0;
        }
        .icon{
            height: 64px;
            width: 64px;
        }

        @media screen and (max-width: $breakpoint-sm) {
            display: flex;
            align-items: center;
            gap: 40px;
        }
    }
}