.hero {
    height: 866px;
    position: relative;
    display: flex;
    align-items: center;

    &::before {
        content: '';
        background-image: url(../../assets/images/accueil-hero.jpg);
        background-size: cover;
        position: absolute;
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
        opacity: 0.25;
    }
}

.hero-content {
    position: relative;
}

.hero-conferencier {
    height: #{typo(300px, 500px)};

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}
