.sponsors{
    text-align: center;
    background-color: #00876F;
    padding: 32px 0;

   .icon{
    height: #{typo(116px, 76px)};
    width: auto;
    align-self: center;
    }
    .icon-red{
        fill: red;
    }

    .icon-black{
       color: black;
    }

    .icon-purple{
        color: #5A3E85;
     }
}

.grid-sponsors{
    display: none;

    
}


 
@media screen and (max-width: 650px) {
    .grid-sponsors{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 15px;
        .icon-column1{
            grid-column-start: 1;
        }
        .icon-column2{
            grid-column-start: 3;
        }
        .long-icon{
            grid-column-start: 2;
            grid-row-start: 3;
            height: 49px;
        }
        .long-icon2{
            grid-column-start: 2;
            grid-row-start: 4;
            height: 57px;
        }
     }

        .swiper-sponsors,
        .shader{
            display: none;
        }

}