.swiper-sponsors{
    margin-top: 40px;
    position: relative;

    .swiper-slide{
        .icon{
            width: 100%;
        }
    }
}



.shader{
    height: 113px;
    width: #{typo(50px, 200px)};
    position: absolute;
    top: 0;
    z-index: 3;
    
}
.left{
    left: 0;
}

.right{
    right: 0;
}

.swiper-evenements{
height: 625px;

.swiper-wrapper{
    height: 554px;
}
    img{
         height: 100%;
         width: 100%;
         object-fit: cover;
    }
}

.swiper-conferenciers{
height: 625px;

.swiper-wrapper{
    height: 554px;
}
    .media-conferencier{
        height: 100%;
        width: 100%;
}


    img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 0;
    }

    .card-autre-conferencier{
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            height: 100%;
            width: #{typo(375px, 705px, $breakpoint-sm, $breakpoint-lg)};
    }
        
    .hover-autre-conferencier{
            background-color: var(--color-bg-primary);
            padding: 20px;
            position: absolute;
            display: flex;
            align-items: center;
            height: 100px;
            width: #{typo(200px, 300px, $breakpoint-sm, $breakpoint-md)};
            bottom: 0;
            right: 0;

            &:hover{
                text-decoration: underline;
            }

            @media screen and (max-width: $breakpoint-sm) {

                position: initial;

              }
            
            .card-conferencier-content {
                text-align: start;
                padding: 20px;


            }
    }  
}





.swiper-pagination-bullet{
border: 3px solid var(--color-bg-secondary);
height: 18px;
width: 18px;
opacity: 1;
background-color: transparent;
margin-left: 15px!important;
}

.swiper-pagination-bullet-active{
background-color: var(--color-bg-secondary);
}