/* ==========================================================================
   LINKS / ELEMENTS
   Style de base de tous les liens et bouton du site
   ========================================================================== */

a {
    color: var(--color-white);
    text-decoration: none;
    font-family: var(--font-primary);
    font-size: #{typo(16px, 16px)};

    &:hover {
        text-decoration: underline;
    }
}
