/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
    // Couleur de base
    --color-white: #fff;
    --color-black: #000;

    // Couleurs du projet
    --color-bg-primary: #00084e;
    --color-bg-secondary: #00876f;
    --color-pagination-active: #00876f;
}
