/* ==========================================================================
   FONTS / SETTINGS
   ========================================================================== */
/// Font family
:root {
    --font-primary: 'Quantico', sans-serif;
    --font-secondary: 'Ramaraja', serif;

    --font-size-content: #{typo(16px, 16px)};

    /// Grosseur des textes
    --font-size-h1: #{typo(75px, 75px)};

    --font-size-h2: #{typo(48px, 48px)};

    --font-size-h3: #{typo(24px, 24px)};

    --font-size-h4: #{typo(20px, 20px)};

    --font-size-h5: #{typo(18px, 18px)};
}
