{% include "_partials/_header.html" %}

<div class="hero-conferencier">
    <img src="assets/images/lixian-hero.jpg" alt="Lixian et Markiplier se tapent dans la main" />
</div>

<section class="infos-conferencier">
    <div class="wrapper">
        <div class="contenu-conferencier">
            <h1>Lixian</h1>
            <p>
                Lixian, de son vrai nom, Luis Costa, est un animateur, vidéaste, développeur de jeu vidéo et éditeur. Il est surtout connu pour être devenu
                l’éditeur vidéo d’un des plus grand Youtubeurs de la plateforme, Markiplier.
            </p>

            <h2>Ses conférences</h2>

            <div class="conferences-conferencier">
                <div class="card-conference">
                    <div class="icon-conference">
                        <svg class="icon">
                            <use xlink:href="#icon-edit"></use>
                        </svg>
                    </div>

                    <div class="contenu-conference">
                        <p>Comment je suis devenu monteur vidéo pour Markiplier?</p>
                        <a href="https://www.youtube.com/watch?v=FbDQorUXt0I">En savoir plus ></a>
                    </div>
                </div>

                <div class="card-conference">
                    <div class="icon-conference">
                        <svg class="icon">
                            <use xlink:href="#icon-controller"></use>
                        </svg>
                    </div>

                    <div class="contenu-conference">
                        <p>Comment j'ai créé ce jeu d'horreur sur Unreal Engine</p>
                        <a href="https://www.youtube.com/watch?v=X5QmMYPxWHU">En savoir plus ></a>
                    </div>
                </div>

                <div class="card-conference">
                    <div class="icon-conference">
                        <svg class="icon">
                            <use xlink:href="#icon-pencil"></use>
                        </svg>
                    </div>

                    <div class="contenu-conference">
                        <p>Mes débuts en tant qu'animateur</p>
                        <a href="https://www.youtube.com/watch?v=FbDQorUXt0I">En savoir plus ></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="sociaux-et-photos">
            <ul class="sociaux-conferencier sociaux">
                <a href="#">
                    <li>
                        <svg class="icon">
                            <use xlink:href="#icon-instagram"></use>
                        </svg>
                    </li>
                </a>

                <a href="#">
                    <li>
                        <svg class="icon">
                            <use xlink:href="#icon-dribble"></use>
                        </svg>
                    </li>
                </a>

                <a href="#">
                    <li>
                        <svg class="icon">
                            <use xlink:href="#icon-twitter"></use>
                        </svg>
                    </li>
                </a>

                <a href="#">
                    <li>
                        <svg class="icon">
                            <use xlink:href="#icon-youtube-footer"></use>
                        </svg>
                    </li>
                </a>
            </ul>

            <div class="photos-conferencier">
                <img class="column1" src="assets/images/lixian1.jpg" alt="Personnage de Lixian" />
                <img class="column2" src="assets/images/lixian2.jpg" alt="Lixian avec une tasse" />
                <img class="column3" src="assets/images/lixian3.jpg" alt="Selfie de Lixian" />
                <img class="column4" src="assets/images/lixian4.jpg" alt="Personnage de Lixian qui parle" />
            </div>
        </div>
    </div>
</section>

<section class="autres-evenements">
    <div class="wrapper">
    <h2>Autres événements</h2>
</div>
    <div class="swiper swiper-evenements js-swiper-evenements">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide"><img src="assets/images/Computer-team.jpg"></div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
          <div class="swiper-slide">Slide 3</div>
          ...
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination pagination-evenements"></div>

      </div>
</section>

<section class="autres-conferenciers">
    <div class="wrapper">
        <h2>Autres conférenciers</h2>
    </div>
<div class="swiper js-swiper-conferenciers swiper-conferenciers ">
    <div class="swiper-wrapper">

        <div class="swiper-slide">
            <div class="card-conferencier">
            <div class="media-conferencier">
            <img src="assets/images/Conferencier2.jpg" alt="DanielV" />
            </div>
        <a class="hover-autre-conferencier" href="conferencier.html">
            <div class="card-autre-conferencier-content">
                <h3>DanielV</h3>
                <p>Monteur Vidéo</p>
            </div>
        </a>
    </div></div>
    
 
    <div class="swiper-slide"><div class="card-conferencier">
        <div class="media-conferencier">
            <img src="assets/images/Conferencier3.jpg" alt="Suddenlyspoons" />
        </div>
        <a class="hover-autre-conferencier" href="conferencier.html">
            <div class="card-autre-conferencier-content">
                <h3>Suddenlyspoons</h3>
                <p>Monteur Vidéo</p>
            </div>
        </a>
    </div></div>
        


    <div class="swiper-slide"><div class="card-conferencier">
        <div class="media-conferencier">
            <img src="assets/images/Conferencier4.jpg" alt="Aliensrock" />
        </div>
        <a class="hover-autre-conferencier" href="conferencier.html">
            <div class="card-autre-conferencier-content">
                <h3>Aliensrock</h3>
                <p>Monteur Vidéo/Youtuber</p>
            </div>
        </a>
    </div></div>
        


    <div class="swiper-slide"><div class="card-conferencier">
        <div class="media-conferencier">
            <img src="assets/images/Conferencier5.jpg" alt="Clément Birckell" />
        </div>
        <a class="hover-autre-conferencier" href="conferencier.html">
            <div class="card-autre-conferencier-content">
                <h3>Clément Birckell</h3>
                <p>Réalisateur/Cadreur/Monteur</p>
            </div>
        </a>
    </div></div>
        

    <div class="swiper-slide"><div class="card-conferencier">
        <div class="media-conferencier">
            <img src="assets/images/Conferencier6.jpg" alt="Dr. Mike" />
        </div>
        <a class="hover-autre-conferencier" href="conferencier.html">
            <div class="card-autre-conferencier-content">
                <h3>Dr. Mike</h3>
                <p>Docteur/Youtubeur</p>
            </div>
        </a>
    </div></div>

        

    </div>
        <div class="swiper-pagination pagination-conferenciers"></div>

</div>

</section>
{% include "_partials/_footer.html" %}
