{% include "_partials/_header.html" %}

<div class="hero-conferencier">
    <img src="assets/images/lixian-hero.jpg" alt="Lixian et Markiplier se tapent dans la main" />
</div>

<section class="infos-conferencier">
    <div class="wrapper">
        <div class="contenu-conferencier">
            <h1>Lixian</h1>
            <p>
                Lixian, de son vrai nom, Luis Costa, est un animateur, vidéaste, développeur de jeu vidéo et éditeur. Il est surtout connu pour être devenu
                l’éditeur vidéo d’un des plus grand Youtubeurs de la plateforme, Markiplier.
            </p>

            <h2>Ses conférences</h2>

            <div class="conferences-conferencier">
                <div class="card-conference">
                    <div class="icon-conference">
                        <svg class="icon">
                            <use xlink:href="#icon-edit"></use>
                        </svg>
                    </div>

                    <div class="contenu-conference">
                        <p>Comment je suis devenu monteur vidéo pour Markiplier?</p>
                        <a href="https://www.youtube.com/watch?v=FbDQorUXt0I">En savoir plus ></a>
                    </div>
                </div>

                <div class="card-conference">
                    <div class="icon-conference">
                        <svg class="icon">
                            <use xlink:href="#icon-controller"></use>
                        </svg>
                    </div>

                    <div class="contenu-conference">
                        <p>Comment j'ai créé ce jeu d'horreur sur Unreal Engine</p>
                        <a href="https://www.youtube.com/watch?v=X5QmMYPxWHU">En savoir plus ></a>
                    </div>
                </div>

                <div class="card-conference">
                    <div class="icon-conference">
                        <svg class="icon">
                            <use xlink:href="#icon-pencil"></use>
                        </svg>
                    </div>

                    <div class="contenu-conference">
                        <p>Mes débuts en tant qu'animateur</p>
                        <a href="https://www.youtube.com/watch?v=FbDQorUXt0I">En savoir plus ></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="sociaux-et-photos">
            <ul class="sociaux-conferencier sociaux">
                <a href="#">
                    <li>
                        <svg class="icon">
                            <use xlink:href="#icon-instagram"></use>
                        </svg>
                    </li>
                </a>

                <a href="#">
                    <li>
                        <svg class="icon">
                            <use xlink:href="#icon-dribble"></use>
                        </svg>
                    </li>
                </a>

                <a href="#">
                    <li>
                        <svg class="icon">
                            <use xlink:href="#icon-twitter"></use>
                        </svg>
                    </li>
                </a>

                <a href="#">
                    <li>
                        <svg class="icon">
                            <use xlink:href="#icon-youtube-footer"></use>
                        </svg>
                    </li>
                </a>
            </ul>

            <div class="photos-conferencier">
                <img src="assets/images/lixian1.jpg" alt="Personnage de Lixian" />
                <img src="assets/images/lixian2.jpg" alt="Lixian avec une tasse" />
                <img src="assets/images/lixian3.jpg" alt="Selfie de Lixian" />
                <img src="assets/images/lixian4.jpg" alt="Personnage de Lixian qui parle" />
            </div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
