{% include "_partials/_header.html" %}

<div class="hero">
    <div class="wrapper">
        <div class="hero-content">
            <h1>Vidéo-Mania</h1>
            <h5>16 Décembre 2023</h5>
            <p>Découvrez-en plus sur le média vidéo et ses dérivés!</p>

            <a class="button" href="#conferenciers">Information</a>
        </div>
    </div>
</div>

<section class="conferenciers" id="conferenciers">
    <div class="wrapper">
        <h2>Nos conférenciers</h2>
        <div class="cards-conferenciers">
            <div class="card-conferencier">
                <div class="media-conferencier">
                    <img src="assets/images/Conferencier1.jpg" alt="Lixian" />
                </div>
                <a class="hover-conferencier" href="conferencier.html">
                    <div class="card-conferencier-content">
                        <h3>Lixian</h3>
                        <p>Monteur/Animateur/Concepteur de jeu-vidéo</p>

                        <svg class="icon">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                    </div>
                </a>
            </div>

            <div class="card-conferencier">
                <div class="media-conferencier">
                    <img src="assets/images/Conferencier2.jpg" alt="DanielV" />
                </div>
                <a class="hover-conferencier" href="conferencier.html">
                    <div class="card-conferencier-content">
                        <h3>DanielV</h3>
                        <p>Monteur Vidéo</p>

                        <svg class="icon">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                    </div>
                </a>
            </div>

            <div class="card-conferencier">
                <div class="media-conferencier">
                    <img src="assets/images/Conferencier3.jpg" alt="Suddenlyspoons" />
                </div>
                <a class="hover-conferencier" href="conferencier.html">
                    <div class="card-conferencier-content">
                        <h3>Suddenlyspoons</h3>
                        <p>Monteur Vidéo</p>

                        <svg class="icon">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                    </div>
                </a>
            </div>

            <div class="card-conferencier">
                <div class="media-conferencier">
                    <img src="assets/images/Conferencier4.jpg" alt="Aliensrock" />
                </div>
                <a class="hover-conferencier" href="conferencier.html">
                    <div class="card-conferencier-content">
                        <h3>Aliensrock</h3>
                        <p>Monteur Vidéo/Youtuber</p>

                        <svg class="icon">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                    </div>
                </a>
            </div>

            <div class="card-conferencier">
                <div class="media-conferencier">
                    <img src="assets/images/Conferencier5.jpg" alt="Clément Birckell" />
                </div>
                <a class="hover-conferencier" href="conferencier.html">
                    <div class="card-conferencier-content">
                        <h3>Clément Birckell</h3>
                        <p>Réalisateur/Cadreur/Monteur</p>

                        <svg class="icon">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                    </div>
                </a>
            </div>

            <div class="card-conferencier">
                <div class="media-conferencier">
                    <img src="assets/images/Conferencier6.jpg" alt="Dr. Mike" />
                </div>
                <a class="hover-conferencier" href="conferencier.html">
                    <div class="card-conferencier-content">
                        <h3>Dr. Mike</h3>
                        <p>Docteur/Youtubeur</p>

                        <svg class="icon">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
{% include "_partials/_footer.html" %}
