{% include "_partials/_header.html" %}

<div class="hero">
    <div class="wrapper">
        <div class="hero-content">
            <h1>Vidéo-Mania</h1>
            <h5>16 Décembre 2023</h5>
            <p>Découvrez-en plus sur le média vidéo et ses dérivés!</p>

            <a class="button" href="#conferenciers">Information</a>
        </div>
    </div>
</div>

<section class="conferenciers" id="conferenciers">
    <div class="wrapper">
        <h2>Nos conférenciers</h2>
        <div class="cards-conferenciers">
            <div class="card-conferencier">
                <div class="media-conferencier">
                    <img src="assets/images/Conferencier1.jpg" alt="Lixian" />
                </div>
                <a class="hover-conferencier" href="conferencier.html">
                    <div class="card-conferencier-content">
                        <h3>Lixian</h3>
                        <p>Monteur/Animateur/Concepteur de jeu-vidéo</p>

                        <svg class="icon">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                    </div>
                </a>
            </div>

            <div class="card-conferencier">
                <div class="media-conferencier">
                    <img src="assets/images/Conferencier2.jpg" alt="DanielV" />
                </div>
                <a class="hover-conferencier" href="conferencier.html">
                    <div class="card-conferencier-content">
                        <h3>DanielV</h3>
                        <p>Monteur Vidéo</p>

                        <svg class="icon">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                    </div>
                </a>
            </div>

            <div class="card-conferencier">
                <div class="media-conferencier">
                    <img src="assets/images/Conferencier3.jpg" alt="Suddenlyspoons" />
                </div>
                <a class="hover-conferencier" href="conferencier.html">
                    <div class="card-conferencier-content">
                        <h3>Suddenlyspoons</h3>
                        <p>Monteur Vidéo</p>

                        <svg class="icon">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                    </div>
                </a>
            </div>

            <div class="card-conferencier">
                <div class="media-conferencier">
                    <img src="assets/images/Conferencier4.jpg" alt="Aliensrock" />
                </div>
                <a class="hover-conferencier" href="conferencier.html">
                    <div class="card-conferencier-content">
                        <h3>Aliensrock</h3>
                        <p>Monteur Vidéo/Youtuber</p>

                        <svg class="icon">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                    </div>
                </a>
            </div>

            <div class="card-conferencier">
                <div class="media-conferencier">
                    <img src="assets/images/Conferencier5.jpg" alt="Clément Birckell" />
                </div>
                <a class="hover-conferencier" href="conferencier.html">
                    <div class="card-conferencier-content">
                        <h3>Clément Birckell</h3>
                        <p>Réalisateur/Cadreur/Monteur</p>

                        <svg class="icon">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                    </div>
                </a>
            </div>

            <div class="card-conferencier">
                <div class="media-conferencier">
                    <img src="assets/images/Conferencier6.jpg" alt="Dr. Mike" />
                </div>
                <a class="hover-conferencier" href="conferencier.html">
                    <div class="card-conferencier-content">
                        <h3>Dr. Mike</h3>
                        <p>Docteur/Youtubeur</p>

                        <svg class="icon">
                            <use xlink:href="#icon-plus"></use>
                        </svg>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="forfaits">
    <div class="wrapper">
        <h2>Nos forfaits</h2>
        <p>Voici la liste des conférences dont les 
            billets sont disponibles à l’achat</p>

    <div class="cards-conferenciers cards-forfaits">
        
        <div class="card-forfait">

            <svg class="icon">
                <use xlink:href="#icon-film"></use>
            </svg>
            <div class="card-forfait-content">
                <h3>Le premier pro</h3>
                <p>Apprenez le parcours de vie de l’éditeur Lixian et recevez 
                    de précieux conseils pour débuter optimalement.</p>
            </div>
                
        </div>

        <div class="card-forfait">

            <svg class="icon">
                <use xlink:href="#icon-smile"></use>
            </svg>
            <div class="card-forfait-content">
                <h3>Le meilleur des meilleurs</h3>
                <p>Daniel V nous rend visite et vous explique en détails 
                    les meilleures façons de rendre une compilation “best-of” 
                    la plus divertissante possible.</p>

            </div>
                
        </div>

        <div class="card-forfait">

            <svg class="icon">
                <use xlink:href="#icon-calendar"></use>
            </svg>
            <div class="card-forfait-content">
                <h3>Effort hebdomadaire</h3>
                <p>Découvrez SuddenlySpoons et apprenez des astuces 
                    très utiles pour tenir un rythme d’édition de vidéos hebdomadaire 
                    et comment garder sa productivité.</p>
            </div>
                
        </div>

        <div class="card-forfait">

            <svg class="icon">
                <use xlink:href="#icon-puzzle"></use>
            </svg>
            <div class="card-forfait-content">
                <h3>Réfléchir en s'amusant</h3>
                <p>Tyler Anazondaz vous explique comment il a gagné en popularité sur 
                    sa chaine youtube en rendant 
                    ses vidéos basées sur les jeux de puzzle amusantes.</p>
            </div>
                
        </div>

        <div class="card-forfait">

            <svg class="icon">
                <use xlink:href="#icon-camera"></use>
            </svg>
            <div class="card-forfait-content">
                <h3>Cadreur un jour, cadreur toujours</h3>
                <p>Clément Birckell vous parle des films et projets dans lesquels il a participé et 
                    expliques des techniques photo pour embellir votre tournage.</p>

            </div>
                
        </div>

        <div class="card-forfait">

            <svg class="icon">
                <use xlink:href="#icon-stethoscope"></use>
            </svg>
            <div class="card-forfait-content">
                <h3>Multi-casquettes</h3>
                <p>Vous n’êtes pas obligé de dédier tout votre temps à youtube. 
                    Dr.Mike vient vous le prouver en vous parlant de son parcours en tant que médecin ainsi que ses débuts sur youtube.</p>
            </div>
                
        </div>
    </div>
    </div>
</section>

<section class="sponsors">
    <h2>Sponsors de la conférence</h2>
<div class="liste-sponsors">
    <!-- Slider main container -->
<div class="swiper swiper-sponsors js-swiper-sponsors">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide"><svg class="icon icon-red">
          <use xlink:href="#icon-adobe"></use>
      </svg></div>

      <div class="swiper-slide"><svg class="icon icon-purple">
        <use xlink:href="#icon-twitch"></use>
        </svg></div>

      <div class="swiper-slide"><svg class="icon icon-black">
        <use xlink:href="#icon-vegasPro"></use>
        </svg></div>

      <div class="swiper-slide"><svg class="icon icon-black">
        <use xlink:href="#icon-youtube-partner"></use>
      </svg></div>

      <div class="swiper-slide"><svg class="icon">
        <use xlink:href="#icon-Webedia"></use>
      </svg></div>

      <div class="swiper-slide"><svg class="icon icon-red">
        <use xlink:href="#icon-redbox"></use>
      </svg></div>
      
    </div>

    <img class="shader left" src="assets/images/Shader Left.png">
    <img class="shader right" src="assets/images/Fading Right.png">
    </div>
  </div>
</section>
{% include "_partials/_footer.html" %}
